@charset "UTF-8";

@import './libs/sass-eo/sass-eo.scss';

/* global */
@include normalize();

body {
	color: #eee;
}

/* background */
.background--custom {
	background: linear-gradient(90deg, #0d9da7, #6446f3, #34c7b6);
	background-size: 300% 300%;
	animation: gradient 10s alternate infinite;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}
@keyframes gradient {
	0% {
		background-position: 0%;
	}
	100% {
		background-position: 100%;
	}
}

/* header */
header {
	text-align: center;

	#version {
		color: silver;
		background-color: rgba(238, 238, 238, 0.123);
		width: 120px;
		padding: 0.3rem;
		margin: auto;
		border-radius: 1rem;
	}
}

/* footer */
footer {
	background-color: rgba(24, 23, 23, 0.637);

	a {
		color: silver;
		font-size: smaller;
		text-decoration: none;

		&:hover {
			color: #34c7b6;
		}
	}
}
